/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Agost 21, 2017, 10:00:00 AM
    Author     : Yusmary López
*/

/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/

/*---------------------------------------*/
/*Fuentes de la aplicacion*/
/*-------------------------------------------*/

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('font/Montserrat-Bold.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('font/Montserrat-SemiBold.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('font/Montserrat-Hairline.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('font/Montserrat-Regular.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('font/Montserrat-UltraLight.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Montserrat-UltraLight 2';
  src: url('font/Montserrat-UltraLight 2.otf'); /* IE9 Compat Modes */
}

/* LOGIN */

.login-page{
    background-image: url('../img/img-dumit/white/fondo_login.jpg')!important;
  
    background-position: center center!important;
  
   /* Image doesn't repeat */
    background-repeat: no-repeat!important;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
    background-attachment: fixed!important;
  
   /* This is what makes the background image rescale based on its container's size */
    background-size: cover!important;
}

.site-login{
    margin-top: 12%;
}

.title-login{
    color:#3e3934;
    font-family: 'Montserrat-Bold';
    font-size:33.62px; 
}

.title2-login{
    color:#3e3934;
    font-family: 'Montserrat-Regular';
    font-size:33.62px;  
}

.login-dumit .form-control{
    color: #3e3934;
    font-size: 14pt;
    width: 50%;
}

.login-img{
    padding-top: 15%;
    padding-left: 40%;
}

.login-box-msg{
    text-align: left!important;
}

.btn-primary{
    color: #fff!important;
    font-family: 'Montserrat-UltraLight 2'!important;
    font-size: 14px!important;
    background-color: #8db559!important;
    border-color: #8db559!important;
    border-radius: 3px!important;
    margin: 10px!important;
    padding: 6px 12px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control-feedback {
    right: 50%;
}

/* HEADER */
.skin-blue .main-header .logo {
    background-color: #fcfcfc!important;
    color: #fff;
    border-bottom: 0 solid transparent;
    /*align-content:center;*/
}

.skin-blue .main-header .navbar {
    background-color: #fcfcfc!important;
}

.skin-blue .main-header .navbar .nav>li>a {
    color: #374850!important; 
}

.skin-blue .main-header .navbar .nav>li>a:hover
{
    color: #8db559!important; 
}

.skin-blue .main-header li.user-header {
    background-color: #8db559!important;
}

/* BOTON SIDEBAR-TOGGLE */
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #8db559!important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: rgba(0,0,0,0.1)!important;
}

/* MENÚ*/

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #dfe2e5!important;
}

.skin-blue .sidebar a {
    color: #222222!important;
    font-family: 'Montserrat-UltraLight';
    font-size: 15pt;
}

.skin-blue .sidebar a:hover{
    background: #fcfcfc!important;
}

.skin-blue .sidebar-menu>li.header {
    color: #4b646f;
    background: #fcfcfc!important;
}

.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
    color: #222222!important;
}

.skin-blue .sidebar-menu>li.active>a {
    color: #fff!important;
}

.sidebar-menu .treeview-menu>li>a{
    color:#fcfcfc!important;
}

.sidebar-menu .treeview-menu>li>a:hover{
    color:#222222!important;
}

.user-panel>.image>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

/* CONTENT*/
.content-wrapper{
    background-image: url('../img/img-dumit/white/fondo.jpg');
    
    background-position: center;
  
   /* Image doesn't repeat */
    background-repeat: no-repeat!important;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
    background-attachment: fixed;
  
   /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /*This places fixed scroll in the body*/
    height:400px;
    
    overflow:scroll;
}

/* FOOTER*/
.main-footer {
    background: #fcfcfc!important;
    color: #222222!important;
    border-top: 1px solid #d2d6de;
    text-align: center;
}

/* SECCIÓN FACTURA*/

.btn-factura.glyphicon-plus {
    color: #FFF!important;
    font-size: 20px;
}

.btn.btn-success.btn-factura {
    background-color: #1779ba;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;
    /*float:right;*/
    margin-bottom:1%;
    margin-left: 1%;
}

thead,thead a,thead a:hover  {
    background-color: #9e9e9e;
    color:#fff!important;
    font-weight:normal;
}

.table-striped > tbody > tr{
    background-color: #dfe2e5;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 1px!important;
}

.content-header>.breadcrumb {
    font-size: 14pt!important;
}

span.glyphicon.glyphicon-eye-open,span.glyphicon.glyphicon-pencil{
    color:#1779ba;
}

a.collapse-toggle:hover,a.collapse-toggle:focus{
    color:#1779ba;
}

/*SECCIÓN REGISTRO FACTURA*/

.modal-content {
    padding: 6%;
}

.modal-title {
    font-size: 20pt;
}
.division-header {
    padding: 0px;
    border-bottom: 2px solid;
    border-bottom-color: #8db559;
}

.header-registrofac{
    text-align: left;
}

span.glyphicon.glyphicon-list-alt,h1.modal-title{
    display: inline-block;
}

span.glyphicon.glyphicon-list-alt{
    font-size: 13pt;
}


.modal-footer {
    border-top: 10px;
}

div.factura-form div.form-group {
    display: inline-block;
    width: 46%;
    margin-bottom: 2%;
    margin-right: 3%;
}

/*VER FACTURA*/

.panel-default > .panel-heading {
    color: #fff;
    background-color: #1779ba!important;
}

.panel-title > a:hover,.panel-title > a:visited,.panel-title > a:focus{
    color: #dfe2e5!important;
}

/*EDITAR PAGO*/

div.modal-header {
    border-bottom: 0px solid #fff;
}

/*FORM SEARCH REPORTES*/

form#resumenprod-form,form#pagospend-form {
width: 60%;
}